.main {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
}
.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  border-top-right-radius: 10px;
  width: 80px;
}

.tab button:hover {
  background-color: #5adf75;
}

.tab button.active {
  background-color: #60eb71d9;
  box-shadow: rgba(4, 196, 81, 0.5) 0px 2px 5px -1px, rgba(31, 223, 89, 0.3) 0px 1px 3px -1px;
}

.tabcontent {
  padding: 6px 12px;
  /* border: 1px solid #ccc;
  border-top: none; */
}
