@import url("https://fonts.googleapis.com/css2?family=Poppins:100,200,300,400,500,600,700,800,900");
.letter-container {
  margin: 0 auto;
  padding: 20px;
  width: 80%;
  font-family: "Poppins", sans-serif;
  box-shadow: rgba(5, 74, 159, 0.07) 0px 1px 2px, rgba(5, 74, 159, 0.07) 0px 2px 4px, rgba(5, 74, 159, 0.07) 0px 4px 8px,
    rgba(5, 74, 159, 0.07) 0px 8px 16px, rgba(5, 74, 159, 0.07) 0px 16px 32px, rgba(5, 74, 159, 0.07) 0px 32px 64px;
}

.letter-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.letter-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  list-style-type: none;
}

.letter-name {
  display: flex;
  color: #18b15a;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  align-items: center;
}
.list-item {
  padding: 10px;
}
.list-item a {
  text-decoration: none;
}

.letter-text {
  padding-top: 20px;
  font-weight: 500;
  font-size: 1rem;
  border-top: 7px solid rgb(5, 159, 59);
}
.greeting {
  color: #a11717;
}
